* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
  }
  body {
    background: #001e4d;
  }
  .app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 30px;
  }
  #answer-buttons{
    padding: 15px ;        
}
.btn{
  margin-top: 15px;
    padding: 8px 0px 8px 15px ;
    display: block;
    width: 100%;
    text-align: start;
    border-radius: 8px;
    border: none;
}
.btn:hover:not([disabled]){
    background-color: rgb(109, 108, 108);
    cursor: pointer; 
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    border: none;
  margin-left: 220px;
  padding: 7px 30px;
  font-size: larger;
  border-radius: 10px;
  background-color: rgb(254, 200, 99);
  color: white;
  cursor: pointer;
}
.correct{
    background: #9aeabc;
}
.inCorrect{
    background: #ff9393;
}


